{% extends "BieleGastosApp/base.html" %}

{% load static %}

{% block content %}
        <div align="center">
            <form action="" method="POST" >
                <table>
    
                    {{ calendario.mes }}
    
                </table>
                <input type="submit" value="Cargar" name="cargar"> {% csrf_token %}
            </form>
            
        </div>
        <div align="center">
            <table width="50%" border="0" align="center" id="mes_calendario">
                
            </table>  

        </div>
        
{% endblock %}