{% extends "BieleGastosApp/base.html" %}

{% load static %}

{% block content %} 
    
    {% if form.error %}
    <p style="color: red;">Por revisa este campo</p>

    {% endif %}
    <div align="center">
        <form action="" method="POST">
        
            <table>
    
                {{ form.as_table}}
    
            </table>
            <input type="submit" value="Enviar"> {% csrf_token %}
    
            
    
        </form>

    </div>
    <div align="center"> 
        <p style= "color: red " > <B>NO FUNCIONA EN PROCESO DE CONSTRUCCION</B></p>
    </div>

    

{% endblock %}


